<script type="text/javascript">


// Date Range Picker
$("#from").datepicker({
  defaultDate: "+1w",
  changeMonth: true,
  numberOfMonths: 3,
  prevText: '<i class="fa fa-chevron-left"></i>',
  nextText: '<i class="fa fa-chevron-right"></i>',
  onClose: function (selectedDate) {
    $("#to").datepicker("option", "minDate", selectedDate);
  }

});
$("#to").datepicker({
  defaultDate: "+1w",
  changeMonth: true,
  numberOfMonths: 3,
  prevText: '<i class="fa fa-chevron-left"></i>',
  nextText: '<i class="fa fa-chevron-right"></i>',
  onClose: function (selectedDate) {
    $("#from").datepicker("option", "maxDate", selectedDate);
  }
});

</script>