<!-- RIBBON -->
<div id="ribbon">
		<span class="ribbon-button-alignment">
			<span id="refresh" rel="tooltip" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span>
		</span>

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li><a href="/">Scrapper</a></li>
    <li>Analytics</li>
    <li>Apps</li>
  </ol>
  <!-- end breadcrumb -->
</div><!-- END RIBBON -->

<!-- MAIN CONTENT -->
<div id="content">
  <section id="widget-grid" class="">
    <include href="struct/flash-messages-block.htm" />
    <!-- row -->
    <div class="row">
    <!-- NEW COL START -->
    <article class="col-sm-12 col-md-12 col-lg-6">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>Plugins & Enhancers </h2>

    </header>

    <!-- widget div-->
    <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body">

    <form class="">

    <fieldset>
      <legend>
        Select 2
      </legend>

      <div class="form-group">
        <label>Select2 Plugin (select)</label>
        <select style="width:100%" class="select2">
          <optgroup label="Alaskan/Hawaiian Time Zone">
            <option value="AK">Alaska</option>
            <option value="HI">Hawaii</option>
          </optgroup>
          <optgroup label="Pacific Time Zone">
            <option value="CA">California</option>
            <option value="NV">Nevada</option>
            <option value="OR">Oregon</option>
            <option value="WA">Washington</option>
          </optgroup>
          <optgroup label="Mountain Time Zone">
            <option value="AZ">Arizona</option>
            <option value="CO">Colorado</option>
            <option value="ID">Idaho</option>
            <option value="MT">Montana</option><option value="NE">Nebraska</option>
            <option value="NM">New Mexico</option>
            <option value="ND">North Dakota</option>
            <option value="UT">Utah</option>
            <option value="WY">Wyoming</option>
          </optgroup>
          <optgroup label="Central Time Zone">
            <option value="AL">Alabama</option>
            <option value="AR">Arkansas</option>
            <option value="IL">Illinois</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="OK">Oklahoma</option>
            <option value="SD">South Dakota</option>
            <option value="TX">Texas</option>
            <option value="TN">Tennessee</option>
            <option value="WI">Wisconsin</option>
          </optgroup>
          <optgroup label="Eastern Time Zone">
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="IN">Indiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="OH">Ohio</option>
            <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
            <option value="VT">Vermont</option><option value="VA">Virginia</option>
            <option value="WV">West Virginia</option>
          </optgroup>
        </select>

        <div class="note">
          <strong>Usage:</strong> &lt;select style=&quot;width:100%&quot; class=&quot;select2&quot; &quot;&gt;...&lt;/select&gt;
        </div>
      </div>

      <div class="form-group">
        <label>Select2 Plugin (multi-select)</label>
        <select multiple style="width:100%" class="select2">
          <optgroup label="Alaskan/Hawaiian Time Zone">
            <option value="AK">Alaska</option>
            <option value="HI">Hawaii</option>
          </optgroup>
          <optgroup label="Pacific Time Zone">
            <option value="CA">California</option>
            <option value="NV" selected="selected">Nevada</option>
            <option value="OR">Oregon</option>
            <option value="WA">Washington</option>
          </optgroup>
          <optgroup label="Mountain Time Zone">
            <option value="AZ">Arizona</option>
            <option value="CO">Colorado</option>
            <option value="ID">Idaho</option>
            <option value="MT" selected="selected">Montana</option><option value="NE">Nebraska</option>
            <option value="NM">New Mexico</option>
            <option value="ND">North Dakota</option>
            <option value="UT">Utah</option>
            <option value="WY">Wyoming</option>
          </optgroup>
          <optgroup label="Central Time Zone">
            <option value="AL">Alabama</option>
            <option value="AR">Arkansas</option>
            <option value="IL">Illinois</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="OK">Oklahoma</option>
            <option value="SD">South Dakota</option>
            <option value="TX">Texas</option>
            <option value="TN">Tennessee</option>
            <option value="WI">Wisconsin</option>
          </optgroup>
          <optgroup label="Eastern Time Zone">
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="IN">Indiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI" selected="selected">Michigan</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="OH">Ohio</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WV">West Virginia</option>
          </optgroup>
        </select>

        <div class="note">
          <strong>Usage:</strong> &lt;select multiple style=&quot;width:100%&quot; class=&quot;select2&quot; &gt;...&lt;/select&gt;
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>
        Date Picker (Jquery UI)
      </legend>

      <div class="row">
        <div class="col-sm-12">
          <label>Select a date (range):</label>
        </div>
        <div class="col-sm-6">

          <div class="form-group">
            <div class="input-group">
              <input class="form-control" id="from" type="text" placeholder="From">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>

        </div>
        <div class="col-sm-6">

          <div class="form-group">
            <div class="input-group">
              <input class="form-control" id="to" type="text" placeholder="Select a date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>

        </div>

      </div>
    </fieldset>

    <div class="form-actions">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-default" type="submit">
            Cancel
          </button>
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-save"></i>
            Submit
          </button>
        </div>
      </div>
    </div>

    </form>

    </div>
    <!-- end widget content -->

    </div>
    <!-- end widget div -->

    </div>
    <!-- end widget -->

    </article>
    <!-- END COL -->
    </div>
    <!-- end row -->
  </section>
</div><!-- END MAIN CONTENT -->

