/*
    * error state
*/
input.state-error,
select.state-error,
textarea.state-error,
div.state-error,
.radio.state-error i,
.checkbox.state-error i,
.toggle.state-error i {
    background: #fff0f0;
    border-color: #A90329;
}
.toggle.state-error input:checked + i {
    background: #fff0f0;
}
em.invalid {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}
.rating.state-error + em {
    margin-top: -4px;
    margin-bottom: 4px;
}
select.state-error + i {
    background: #FFF0F0;
    box-shadow: 0 0 0 9px #FFF0F0;
}
.state-error .icon-append,
.state-error .icon-prepend {
    color: #ed1c24;
}
/*