fieldset.form-horizontal div.input-group-btn button {
  height: 32px;
  padding: 6px 12px;
}
fieldset.form-horizontal .input-group-addon,
fieldset.form-horizontal .input-group-btn,
fieldset.form-horizontal .input-group .form-control {
  display: table-cell;
}
fieldset.form-horizontal .control-label {
  padding: 7px 13px 0px 13px;
}
fieldset.form-horizontal .form-group {
  padding-left: 13px;
  padding-right: 13px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
fieldset.form-horizontal .input-group-addon,
fieldset.form-horizontal .input-group,
fieldset.form-horizontal .control-label {
  box-sizing: border-box;
}
fieldset.form-horizontal .form-control {
  display: block;
  box-sizing: border-box;
  padding: 8px 10px;
  width: 100%;
}
fieldset.form-horizontal div[class^="col-"] {
  box-sizing: border-box;
}
fieldset.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 13px;
}
fieldset.form-horizontal .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
fieldset.form-horizontal .btn:focus,
fieldset.form-horizontal .btn:active:focus,
fieldset.form-horizontal .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
fieldset.form-horizontal .btn:hover,
fieldset.form-horizontal .btn:focus {
  color: #333333;
  text-decoration: none;
}
fieldset.form-horizontal .btn:active,
fieldset.form-horizontal .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
fieldset.form-horizontal .btn.disabled,
fieldset.form-horizontal .btn[disabled],
fieldset.form-horizontal fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
fieldset.form-horizontal .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
fieldset.form-horizontal .btn-default:hover,
fieldset.form-horizontal .btn-default:focus,
fieldset.form-horizontal .btn-default:active,
fieldset.form-horizontal .btn-default.active,
fieldset.form-horizontal .open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
fieldset.form-horizontal .btn-default:active,
fieldset.form-horizontal .btn-default.active,
fieldset.form-horizontal .open .dropdown-toggle.btn-default {
  background-image: none;
}
fieldset.form-horizontal .btn-default.disabled,
fieldset.form-horizontal .btn-default[disabled],
fieldset.form-horizontal fieldset[disabled] .btn-default,
fieldset.form-horizontal .btn-default.disabled:hover,
fieldset.form-horizontal .btn-default[disabled]:hover,
fieldset.form-horizontal fieldset[disabled] .btn-default:hover,
fieldset.form-horizontal .btn-default.disabled:focus,
fieldset.form-horizontal .btn-default[disabled]:focus,
fieldset.form-horizontal fieldset[disabled] .btn-default:focus,
fieldset.form-horizontal .btn-default.disabled:active,
fieldset.form-horizontal .btn-default[disabled]:active,
fieldset.form-horizontal fieldset[disabled] .btn-default:active,
fieldset.form-horizontal .btn-default.disabled.active,
fieldset.form-horizontal .btn-default[disabled].active,
fieldset.form-horizontal fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
fieldset.form-horizontal .btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
fieldset.form-horizontal .btn-group,
fieldset.form-horizontal .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
fieldset.form-horizontal .btn-group > .btn,
fieldset.form-horizontal .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
fieldset.form-horizontal .btn-group > .btn:hover,
fieldset.form-horizontal .btn-group-vertical > .btn:hover,
fieldset.form-horizontal .btn-group > .btn:focus,
fieldset.form-horizontal .btn-group-vertical > .btn:focus,
fieldset.form-horizontal .btn-group > .btn:active,
fieldset.form-horizontal .btn-group-vertical > .btn:active,
fieldset.form-horizontal .btn-group > .btn.active,
fieldset.form-horizontal .btn-group-vertical > .btn.active {
  z-index: 2;
}
fieldset.form-horizontal .btn-group > .btn:focus,
fieldset.form-horizontal .btn-group-vertical > .btn:focus {
  outline: none;
}
fieldset.form-horizontal .btn-group .btn + .btn,
fieldset.form-horizontal .btn-group .btn + .btn-group,
fieldset.form-horizontal .btn-group .btn-group + .btn,
fieldset.form-horizontal .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
fieldset.form-horizontal .btn-toolbar {
  margin-left: -5px;
}
fieldset.form-horizontal .btn-toolbar .btn-group,
fieldset.form-horizontal .btn-toolbar .input-group {
  float: left;
}
fieldset.form-horizontal .btn-toolbar > .btn,
fieldset.form-horizontal .btn-toolbar > .btn-group,
fieldset.form-horizontal .btn-toolbar > .input-group {
  margin-left: 5px;
}
fieldset.form-horizontal .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
fieldset.form-horizontal .btn-group > .btn:first-child {
  margin-left: 0;
}
fieldset.form-horizontal .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
fieldset.form-horizontal .btn-group > .btn:last-child:not(:first-child),
fieldset.form-horizontal .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
fieldset.form-horizontal .btn-group > .btn-group {
  float: left;
}
fieldset.form-horizontal .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
fieldset.form-horizontal .btn-group > .btn-group:first-child > .btn:last-child,
fieldset.form-horizontal .btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
fieldset.form-horizontal .btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
fieldset.form-horizontal .btn-group .dropdown-toggle:active,
fieldset.form-horizontal .btn-group.open .dropdown-toggle {
  outline: 0;
}
fieldset.form-horizontal .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
fieldset.form-horizontal .btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.form-horizontal .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
fieldset.form-horizontal .btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
fieldset.form-horizontal .btn .caret {
  margin-left: 0;
}
fieldset.form-horizontal .btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
fieldset.form-horizontal .dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
fieldset.form-horizontal .btn-group-vertical > .btn,
fieldset.form-horizontal .btn-group-vertical > .btn-group,
fieldset.form-horizontal .btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
fieldset.form-horizontal .btn-group-vertical > .btn-group > .btn {
  float: none;
}
fieldset.form-horizontal .btn-group-vertical > .btn + .btn,
fieldset.form-horizontal .btn-group-vertical > .btn + .btn-group,
fieldset.form-horizontal .btn-group-vertical > .btn-group + .btn,
fieldset.form-horizontal .btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
fieldset.form-horizontal .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
fieldset.form-horizontal .btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
fieldset.form-horizontal .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
fieldset.form-horizontal .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
fieldset.form-horizontal .btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
fieldset.form-horizontal .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
fieldset.form-horizontal .btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
fieldset.form-horizontal .btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
fieldset.form-horizontal .btn-group-justified > .btn,
fieldset.form-horizontal .btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
fieldset.form-horizontal .btn-group-justified > .btn-group .btn {
  width: 100%;
}
fieldset.form-horizontal [data-toggle="buttons"] > .btn > input[type="radio"],
fieldset.form-horizontal [data-toggle="buttons"] > .btn > input[type="checkbox"] {
  display: none;
}
fieldset.form-horizontal .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
fieldset.form-horizontal .input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
fieldset.form-horizontal .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
fieldset.form-horizontal .input-group-lg > .form-control,
fieldset.form-horizontal .input-group-lg > .input-group-addon,
fieldset.form-horizontal .input-group-lg > .input-group-btn > .btn {
  height: 45px;
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 3px;
}
fieldset.form-horizontal select.input-group-lg > .form-control,
fieldset.form-horizontal select.input-group-lg > .input-group-addon,
fieldset.form-horizontal select.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  line-height: 45px;
}
fieldset.form-horizontal textarea.input-group-lg > .form-control,
fieldset.form-horizontal textarea.input-group-lg > .input-group-addon,
fieldset.form-horizontal textarea.input-group-lg > .input-group-btn > .btn,
fieldset.form-horizontal select[multiple].input-group-lg > .form-control,
fieldset.form-horizontal select[multiple].input-group-lg > .input-group-addon,
fieldset.form-horizontal select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
fieldset.form-horizontal .input-group-sm > .form-control,
fieldset.form-horizontal .input-group-sm > .input-group-addon,
fieldset.form-horizontal .input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
fieldset.form-horizontal select.input-group-sm > .form-control,
fieldset.form-horizontal select.input-group-sm > .input-group-addon,
fieldset.form-horizontal select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
fieldset.form-horizontal textarea.input-group-sm > .form-control,
fieldset.form-horizontal textarea.input-group-sm > .input-group-addon,
fieldset.form-horizontal textarea.input-group-sm > .input-group-btn > .btn,
fieldset.form-horizontal select[multiple].input-group-sm > .form-control,
fieldset.form-horizontal select[multiple].input-group-sm > .input-group-addon,
fieldset.form-horizontal select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
fieldset.form-horizontal .input-group-addon,
fieldset.form-horizontal .input-group-btn,
fieldset.form-horizontal .input-group .form-control {
  display: table-cell;
}
fieldset.form-horizontal .input-group-addon:not(:first-child):not(:last-child),
fieldset.form-horizontal .input-group-btn:not(:first-child):not(:last-child),
fieldset.form-horizontal .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
fieldset.form-horizontal .input-group-addon,
fieldset.form-horizontal .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
fieldset.form-horizontal .input-group-addon {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
fieldset.form-horizontal .input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 2px;
}
fieldset.form-horizontal .input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 3px;
}
fieldset.form-horizontal .input-group-addon input[type="radio"],
fieldset.form-horizontal .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
fieldset.form-horizontal .input-group .form-control:first-child,
fieldset.form-horizontal .input-group-addon:first-child,
fieldset.form-horizontal .input-group-btn:first-child > .btn,
fieldset.form-horizontal .input-group-btn:first-child > .btn-group > .btn,
fieldset.form-horizontal .input-group-btn:first-child > .dropdown-toggle,
fieldset.form-horizontal .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
fieldset.form-horizontal .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
fieldset.form-horizontal .input-group-addon:first-child {
  border-right: 0;
}
fieldset.form-horizontal .input-group .form-control:last-child,
fieldset.form-horizontal .input-group-addon:last-child,
fieldset.form-horizontal .input-group-btn:last-child > .btn,
fieldset.form-horizontal .input-group-btn:last-child > .btn-group > .btn,
fieldset.form-horizontal .input-group-btn:last-child > .dropdown-toggle,
fieldset.form-horizontal .input-group-btn:first-child > .btn:not(:first-child),
fieldset.form-horizontal .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
fieldset.form-horizontal .input-group-addon:last-child {
  border-left: 0;
}
fieldset.form-horizontal .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
fieldset.form-horizontal .input-group-btn > .btn {
  position: relative;
}
fieldset.form-horizontal .input-group-btn > .btn + .btn {
  margin-left: -1px;
}
fieldset.form-horizontal .input-group-btn > .btn:hover,
fieldset.form-horizontal .input-group-btn > .btn:focus,
fieldset.form-horizontal .input-group-btn > .btn:active {
  z-index: 2;
}
fieldset.form-horizontal .input-group-btn:first-child > .btn,
fieldset.form-horizontal .input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
fieldset.form-horizontal .input-group-btn:last-child > .btn,
fieldset.form-horizontal .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
