<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->

      <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
        <!--<img src="design/images/sa/avatars/sunny.png" alt="me" class="online" />--><!--<img data-src="holder.js/25x25/text:ava" alt="avatar" />-->
        <img src="http://www.gravatar.com/avatar/ssdd@ssdd.com?s=25&d=identicon&r=PG" alt="avatar" class="online" />
        <span>
          John.Doe
        </span>
        <i class="fa fa-angle-down"></i> </a>

    </span>
  </div>
  <!-- end user info -->
  <nav>
    <ul>
      <li class="{{ @menuHelper->getActiveClassIfChosen(['', 'main.index', 'main']) }}">
        <a href="/" title="News"><i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">News</span>
        </a>
      </li>
      <li><a href="#">
        <span class="menu-item-parent">Control<br>Panel</span>
      </a></li>
      <li class="{{ @menuHelper->getActiveClassIfChosen(['cpnews.show-news', 'cpnews.index']) }}">
        <a href="/cp/news" title="News list"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
          <span class="menu-item-parent">Список</span>
        </a>
      </li>
      <li class="{{ @menuHelper->getActiveClassIfChosen('cpnews.add-news-form') }}">
        <a href="/cp/news/add-news-form"><i class="fa fa-lg fa-fw fa-plus"></i>
          <span class="menu-item-parent">Добавить</span>
        </a>
      </li>
      <check if="in_array(@action, ['edit-news-form'])">
        <li class="{{ @menuHelper->getActiveClassIfChosen(['news.edit-news-form']) }}">
          <a href="{{ @URI }}"><i class="fa fa-lg fa-fw fa-pencil"></i>
            <span class="menu-item-parent">Редактирование</span>
          </a>
        </li>
      </check>
      <li>
    </ul>
  </nav>
			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>
</aside>
<!-- END NAVIGATION -->