<check if="{{ !empty(@flash.messages) }}">
  <div class="alert {{ isset(@flash.type)?'alert-'.@flash.type:'' }}" style="margin-top: 20px; margin-left: 13px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ @flash.messages }}
  </div>
</check>