<!-- HEADER -->
<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo">
      <!--<img src="design/images/sa/logo.png" alt="SmartAdmin">-->
      <i class="fa fa-cubes fa-2x"></i> Test task
    </span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <!--<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>-->

    <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->

    <!-- END AJAX-DROPDOWN -->
  </div>

  <!-- projects dropdown -->
  <!--<div class="project-context hidden-xs">-->

    <!--<span class="label">Projects:</span>-->
    <!--<span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>-->

    <!--&lt;!&ndash; Suggestion: populate this list with fetch and push technique &ndash;&gt;-->
    <!--<ul class="dropdown-menu">-->
      <!--<li>-->
        <!--<a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="javascript:void(0);">Notes on pipeline upgradee</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="javascript:void(0);">Assesment Report for merchant account</a>-->
      <!--</li>-->
      <!--<li class="divider"></li>-->
      <!--<li>-->
        <!--<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash; end dropdown-menu&ndash;&gt;-->

  <!--</div>-->
  <!-- end projects dropdown -->

  <!-- pulled right: nav area -->
  <div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
      <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- #MOBILE --><!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
      <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
          <!--<img src="design/images/sa/avatars/sunny.png" alt="John Doe" class="online" />-->
          <img src="http://www.gravatar.com/avatar/ssdd@ssdd.com?s=25&d=identicon&r=PG" alt="avatar" class="online" />
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- logout button -->
    <div id="logout-hardcode" class="btn-header transparent pull-right">
      <span> <a href="auth/logout" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
    </div>
    <!-- end logout button -->

    <!-- search mobile button (this is hidden till mobile view port) -->
    <div id="search-mobile" class="btn-header transparent pull-right">
      <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>
    <!-- end search mobile button -->

    <!-- input: search field -->
    <!--<form action="search.html" class="header-search pull-right">-->
      <!--<input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[-->
					<!--"ActionScript",-->
					<!--"AppleScript",-->
					<!--"Asp",-->
					<!--"BASIC",-->
					<!--"C",-->
					<!--"C++",-->
					<!--"Clojure",-->
					<!--"COBOL",-->
					<!--"ColdFusion",-->
					<!--"Erlang",-->
					<!--"Fortran",-->
					<!--"Groovy",-->
					<!--"Haskell",-->
					<!--"Java",-->
					<!--"JavaScript",-->
					<!--"Lisp",-->
					<!--"Perl",-->
					<!--"PHP",-->
					<!--"Python",-->
					<!--"Ruby",-->
					<!--"Scala",-->
					<!--"Scheme"]'>-->
      <!--<button type="submit">-->
        <!--<i class="fa fa-search"></i>-->
      <!--</button>-->
      <!--<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
    <!--</form>-->
    <!-- end input: search field -->

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-right">
      <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->

  </div>
  <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->