<!DOCTYPE html>
<html lang="{{ @LANGUAGE }}">
<head>
  <title>{{ @ERROR.code }} {{ @ERROR.status }}</title>
  <meta charset="{{ @ENCODING }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{ @SCHEME.'://'.@HOST.@BASE }}" />

  <link href="design/css/public/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1>An error occurred</h1>
  </div>

  <h2>Страница не найдена</h2>

  <p>Страница, которую Вы ищете, не найдена. Возможно, она была удалена, изменился её адрес либо страница временно недоступна.</p>

  <p>Пожалуйста, попробуйте следующее:</p>

  <ul>
    <li> - Перейдите на <a href="/">главную страницу</a> сайта и попробуйте найти страницу по ссылкам.</li>
    <li> - Убедитесь, что адрес, набранный в адресной строке Вашего браузера, не содержит ошибок.</li>
    <li> - Если Вы попали на эту страницу, пожалуйста, отправьте письмо на <a class="email" href="mailto:support@pgpribor.com">support@pgpribor.com</a> о некорректной ссылке.</li>
  </ul>
</div>

</body>
</html>