<!DOCTYPE html>
<html lang="{{ @LANGUAGE }}">
<head>
  <meta charset="{{ @ENCODING }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>[{{ APPLICATION_ENV }} pb] ПромГруппПрибор: страница не найдена</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/jslider.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/jslider.blue.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/main.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/smart-public.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/design/css/public/shadowbox.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
  <script src="/js/public/html5shiv.min.js"></script>
  <script src="/js/public/respond.min.js"></script><![endif]--><!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
      filter: none;
    }
  </style><![endif]--><!--[if IE 7]>
  <link rel="stylesheet" href="/design/css/public/font-awesome-ie7.min.css"><![endif]--><!--[if lt IE 7]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script><![endif]-->
  <script type="text/javascript">
    //
  </script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/public/bootstrap.js"></script>
  <script type="text/javascript" src="/js/public/jshashtable-2.1_src.js"></script>
  <script type="text/javascript" src="/js/public/tmpl.js"></script>
  <script type="text/javascript" src="/js/public/draggable-0.1.js"></script>
  <script type="text/javascript" src="/js/public/jquery.numberformatter-1.2.3.js"></script>
  <script type="text/javascript" src="/js/public/jquery.dependClass-0.1.js"></script>
  <script type="text/javascript" src="/js/public/jquery.slider.js"></script>
  <script type="text/javascript" src="/js/public/pgp.js"></script>
  <script type="text/javascript" src="/js/public/shadowbox.js"></script>

  <script type="text/javascript">
    Shadowbox.init();
  </script>
</head>
<body>
<div class="wrapper">
  <div class="header-container">
    <div class="header">
      <div class="header-adress">
        <div class="header-adress-container">
          <div class="clearfix"></div>
          <div class="header-adress-inner">
            г. Москва, ул. Шарикоподшипниковская, д. 4, корп. 1, офис 427 (4-й этаж)
          </div>
        </div>
      </div>
      <div class="header-main">
        <div class="header-adress-container">
          <div class="header-left ">
            <a href="/" class="logo"></a>

            <div class="slogan">
              Продажа и производство оборудования<br>неразрушающего контроля
            </div>
          </div>
          <div class="header-right">
            <div class="header-helpshadow"></div>
            <div class="header-conts">
              <span class="phone-icon1"> +7-495-981-37-28</span>
              <br>
              <span class="phone-icon1"> +7-495-981-37-29</span>
              <br>
              <span class="mail-icon1"> info@pgpribor.com</span>
            </div>
            <div class="header-login_cart" style="width: 195px;"></div>
          </div>
        </div>
      </div>
      <div class="header-menu-container">
        <div class="header-menu gradient">
          <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display --><!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-menu">
              <ul class="nav navbar-nav">
                <li><a href="#">
                  <span class="home_icon"></span>
                </a></li>
                <li><a href="#">Мы производим</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="/news-list">Новости и Акции</a></li>
                <li><a href="/delivery">Оплата и доставка</a></li>
                <li class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="#">Информация
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/about">О компании</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Техническая документация</a></li>
                  </ul>
                </li>
                <li><a href="/contacts">Контакты</a></li>
              </ul>
              <div class="searchmenu">
                <form class="navbar-form navbar-right" action="/search-result" method="post" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск по сайту">
												<span class="input-group-btn">
												<button class="btn btn-default" type="submit">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
												</span>
                  </div>
                  <!-- /input-group -->
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- / .header-container -->
  <div class="clearfix"></div>


  <div class="mainblock">
    <div class="mainblock-container">
      <div class="rightpanel">
        <div class="rightpanel-inner">
          <div class="clearfix"></div>
          <h1>Страница не найдена<span></span></h1>

          <p>Страница, которую Вы ищете, не найдена. Возможно, она была удалена, изменился её адрес либо страница временно недоступна.</p>

          <p>Пожалуйста, попробуйте следующее:</p>

          <ul>
            <li> - Перейдите на <a href="/">главную страницу</a> сайта и попробуйте найти страницу по ссылкам.</li>
            <li> - Убедитесь, что адрес, набранный в адресной строке Вашего браузера, не содержит ошибок.</li>
            <li> - Если Вы попали на эту страницу, пожалуйста, отправьте письмо на <a class="email" href="mailto:support@pgpribor.com">support@pgpribor.com</a> о некорректной ссылке.</li>
          </ul>

          <a class="btn btn-primary" href="javascript:void(0);" onclick="history.back();">Вернуться</a>
        </div>
      </div>
      <div class="leftpanel">
        <div class="leftmenu">
          <h2>Каталог товаров</h2>

          <ul class="dropdown-menu treemenu" role="menu" aria-labelledby="dropdownMenu">
            {{ \Helpers\TreeViewHelper::instance()->renderTreeForPublic() }}
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</body>
</html>