<div class="container">
  <link href="design/css/sticky-footer.css" rel="stylesheet">
  <style type="text/css">
    .blackAndWhite {
      background-color: #404040 !important;
      border: 1px solid #555 !important;
      color: #fff !important;
    }
  </style>
  <div class="row">
    <h2>An error occurred</h2>

    <div class="well">
      <dl class="dl-horizontal">
        <dt>Error type</dt>
        <dd>
          <span class="text-warning">{{ @ERROR.code }}</span>
        </dd>

        <dt>Line</dt>
        <dd>{{ reset(@ERROR.trace)['line'] }}</dd>

        <dt>Code</dt>
        <dd>{{ @ERROR.code }}</dd>

        <dt>File</dt>
        <dd>{{ reset(@ERROR.trace)['file'] }}</dd>

        <dt>Failure status</dt>
        <dd>{{ @ERROR.status }}</dd>

        <dt>Failure information</dt>
        <dd>{{ @ERROR.text }}</dd>
      </dl>
      <div class="clearfix"></div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3>Stack trace:</h3>
      <check if="{{ isset(@trace) && !empty(@trace) }}">
        <true>
          <pre>{{ @trace|raw }}</pre>
        </true>
        <false>
          <pre>Trace is empty.</pre>
        </false>
      </check>
      <!--<h3>Request Parameters:</h3>--><!--<pre>{$this->request->getParams()|var_dump}</pre>-->
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<check if="{{ isset(@exception_extra) }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>Exception extra information:</h3>
        <pre class="blackAndWhite">{{ print_r(@exception_extra) }}</pre>
        <!--<h3>Request Parameters:</h3>--><!--<pre>{$this->request->getParams()|var_dump}</pre>-->
      </div>
    </div>
  </div>
</check>




<script>
  function argsButtonClickHandler(event) {
    $(this).toggleClass('btn-info').toggleClass('btn-default');
    $($(this).data('target')).toggleClass('hidden');
  }
  $().ready(function () {
    $('button.args-button').on('click', argsButtonClickHandler);
  });
</script>
