<!DOCTYPE html>
<html lang="{{ @LANGUAGE }}">
<head>
  <title>{{ @ERROR.code }} {{ @ERROR.status }}</title>
  <meta charset="{{ @ENCODING }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{ @SCHEME.'://'.@HOST.@BASE }}" />

  <link href="design/css/new_sa/bootstrap.css" rel="stylesheet">
  <!--<link href="design/css/main.css" rel="stylesheet">-->
  <link href="design/css/sticky-footer.css" rel="stylesheet">
  <style type="text/css">
    .blackAndWhite {
      background-color: #404040 !important;
      border: 1px solid #555 !important;
      color: #fff !important;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <h2>An error occurred</h2>

    <div class="well">
      <dl class="dl-horizontal">
        <dt>Error type</dt>
        <dd>
          <span class="text-warning">{{ @ERROR.code }}</span>
        </dd>

        <dt>Line</dt>
        <dd>{{ reset(@ERROR.trace)['line'] }}</dd>

        <dt>Code</dt>
        <dd>{{ @ERROR.code }}</dd>

        <dt>File</dt>
        <dd>{{ reset(@ERROR.trace)['file'] }}</dd>

        <dt>Failure status</dt>
        <dd>{{ @ERROR.status }}</dd>

        <dt>Failure information</dt>
        <dd>{{ @ERROR.text }}</dd>
      </dl>
      <div class="clearfix"></div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3>Stack trace:</h3>
      <check if="{{ isset(@trace) && !empty(@trace) }}">
        <true>
          <pre>{{ @trace|raw }}</pre>
        </true>
        <false>
          <pre>Trace is empty.</pre>
        </false>
      </check>
      <!--<h3>Request Parameters:</h3>--><!--<pre>{$this->request->getParams()|var_dump}</pre>-->
    </div>
  </div>
</div>

<check if="{{ isset(@exception_extra) }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>Exception extra information:</h3>
        <pre class="blackAndWhite">{{ print_r(@exception_extra) }}</pre>
        <!--<h3>Request Parameters:</h3>--><!--<pre>{$this->request->getParams()|var_dump}</pre>-->
      </div>
    </div>
  </div>
</check>


<div id="footer">
  <div class="container">
    <p class="text-muted">&copy; Learn from the mistakes of others. You can't live long enough to make them all yourself.</p>
  </div>
</div>

</body>
<script src="js/libs/jquery/jquery.js"></script>
<script src="js/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
  function argsButtonClickHandler(event) {
    $(this).toggleClass('btn-info').toggleClass('btn-default');
    $($(this).data('target')).toggleClass('hidden');
  }
  //    function argsBoxButtonCloseClickHandler(event) {
  //        var $argsBox = $(event.delegateTarget);
  //        $argsBox.toggleClass('hidden');
  //        $('button[data-target="#' + $argsBox.attr('id') + '"]').toggleClass('btn-info').toggleClass('btn-default');
  //    }

  $().ready(function () {
    $('button.args-button').on('click', argsButtonClickHandler);
//        $('div.args-box').on('click', 'button.close', argsBoxButtonCloseClickHandler);
  });
</script>
</html>