<!-- RIBBON -->
<div id="ribbon">
  <span class="ribbon-button-alignment">
	  <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
		  <i class="fa fa-refresh"></i>
		</span>
	</span>

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li>Новости и акции</li>
    <li>Добавление новости</li>
  </ol>
  <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<include href="struct/flash-messages-block.htm" />
<!-- MAIN CONTENT -->
<div id="content">
  <section id="widget-grid">
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
          <header>
            <h2>Добавление новости </h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form class="smart-form" role="form" method="post" action="/cp/news/add-news/" id="newsForm">
                <fieldset>

                  <section>
                    <label class="label" for="newNewsName">Название</label>
                    <label class="input {{ @errorHelper->getErrorStateIfExists('header') }}">
                      <input type="text" class="form-control" placeholder="" id="newNewsName" name="header" value="{{ isset(@formData.header) ? @formData.header : '' }}">
                    </label>

                    {{ @errorHelper->renderErrorTextBlock('header') }}
                  </section>
                </fieldset>
                <fieldset class="wysiwyg-fieldset">
                  <div class="wysiwyg-container">
                    <label class="label" for="body">Содержание</label>
                    <textarea name="body" id="body" cols="1" rows="1" class="hidden">{{ @errorHelper->valueOrDefault('body', '') }}</textarea>
                  </div>
                  <span class="state-error">{{ @errorHelper->renderErrorTextBlock('body') }}</span>


                  <section class="text-align-center">
                    <button type="submit" id="btnNewNewsAddSubmit" class="btn btn-sm btn-primary">Добавить новость</button>
                  </section>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>