<script src="js/plugin/summernote/summernote_new.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    attachSummernoteToElementInForm('#newsForm', '#body');
  })
</script>