body, div, ul, li, p, header, h1, h2, h5, input {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /*color: #333333;*/
}

img {
    border: none;
}

input:focus {
    outline: 0 none;
}

body {
    background-color: white;
    background: #fafafa;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 30px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

h5 {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

header {
    /*height: 50px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #f0f0f0;
    z-index: 10000;
    position: relative;*/
}

#header {
    border-bottom: 1px solid #eee;
    height: 50px;
}

#header > :first-child, aside {
    width: auto;
}

#content {
    padding: 26px 0px 0px 0px;
}
.no-padding-content#content {
    padding: 0px;
}

.wrapper-boxes > .boxes-footer {
    padding-top: 16px;
}

.wrapper-boxes .arrow-field {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 93px;
    cursor: pointer;
    opacity: 0.1;
    background-image: none;
    z-index: 999;
    display: none;
    background-position: initial;
    background-repeat: initial;
}

#logo {
    margin-right: 5px;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.logotype {
    margin-left: 11px;
    float: left;
    width: 170px;
    /*margin-top: 13px;*/
}

img.logo {
    float: left;
}

.logotype p {
    font-size: 10px;
    color: #999999;
    margin-left: 6px;
    float: left;
    font-style: italic;
    line-height: normal;
    margin-top: -2px;
}
.footer-menu {
    float: right;
    /*margin-top: 10px;*/
    margin-right: 13px;
}
.footer-menu a {

}
/*.top-menu {
    float: right;
    margin-top: 8px;
}

.top-menu > ul {
    list-style: none;
    margin-top: 4px;
}*/

/*.top-menu > ul > li {
    float: left;
    padding: 0 5px;
}*/

.top-menu ul li img {
    margin-top: -5px;
    opacity: 0.6;
}

.top-menu ul li img:hover {
    opacity: 1;
}

.top-menu a {
    text-decoration: none;
    padding: 15px 18px 17px 18px;
    font-size: 15px;
    color: #2988cc;
}

@-moz-document url-prefix() {
    .top-menu a {
        padding-bottom: 13px;
    }
}

.top-menu a:hover {
    background: rgba(100, 100, 100, 0.1);
}

.top-menu li.active a {
    background: #5baae2;
    color: white;
}

.wrapper {
    clear: both;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 26px;
    background: white;
    /*margin-top: 48px;*/
    border: 1px solid #ebebeb;
}

.wrapper-presentation {
    clear: both;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper-boxes {
    clear: both;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.wrapper-boxes .content {
    clear: both;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 80px 60px 50px;
    background: white;
    margin-top: 28px;
    border: 1px solid #ebebeb;
}

.wrapper-head {
    clear: both;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    /*margin-top: -1px;*/
    border: 1px solid #ebebeb;
    border-top-width: 0px;
}

.top-block {
    background: url('/design/images/img1.jpg') no-repeat;
    padding-top: 400px;
    background-size: contain;
}

.top-block h2 {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.slider-container {
    margin-top: 60px;
    position: relative;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
    content: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
    opacity: 1;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: -75px;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right {
    right: -30px;
}

.carousel-control:hover, .carousel-control:focus {
    filter: alpha(opacity=100);
    opacity: 1;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 40%;
}

.form {
    width: 446px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    position: relative;
}

.form input[type=text] {
    border: 2px solid #8fcc52;
    width: 296px;
    padding-left: 14px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-right: -4px;
    float: left;
    border-radius: 0px;
    height: 44px;
}

::-webkit-input-placeholder {
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

:-moz-placeholder {
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

/* placeholder only style */
input.code:-ms-input-placeholder {
    color: #cccccc;
}

.form input[type=button] {
    border-radius: 1px;
    border: 2px solid #8fcc52;
    background: #8fcc52;
    color: white;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    width: 128px;
    cursor: pointer;
    display: block;
}

.form input[type=button]:hover {
    background: #7fc040;
    border: 2px solid #7fc040;
}

.form input[type=button]:focus {
    background: #669934;
    border: 2px solid #669934;
}

/*.form input[type=button]:hover {background:#5aacd2;}*/

.inline-block {
    text-align: center;
    margin-top: 60px;
}

.inline-block article {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
}

.inline-block article p {
    font-size: 15px;
    margin-top: 18px;
}

.more-block {
    text-align: center;
    margin-top: 40px;
    padding-top: 52px;
    background: linear-gradient(to top, #fafafa, #f0f0f0);
    height: 320px;
}

.more-block h2 {
    width: 67.66%;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 40px;
}

.partners-block {
    text-align: center;
    margin-top: 120px;
}

.partners-block h1 {
    width: 61%;
    margin: 44px auto;
}

.partners-block h2 {
    width: 80%;
    margin: 0 auto;
}

.colorline {
    background: url(/design/images/butbg.png) no-repeat center
}

.colorline .nav {
    width: 208px;
    margin: 50px auto;
}

.colorline .nav a {
    height: 54px;
    line-height: 54px;
    padding: 0 21px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

a.button {
    display: block;
    height: 54px;
    line-height: 54px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    font-size: 22px;
    font-weight: normal;
}

a.blue {
    background: #5eb3db;
    width: 210px;
    margin-top: 44px;
}

a.green {
    background: #99cc66;
    width: 330px;
    margin-top: 40px;
}

.nav-pills > li.active > a:hover {
    background: #5aacd2;
}

a:hover.green {
    background: #8FE268;
}

.bot-button {
    text-align: center;
}

.up-button {
    position: fixed;
    left: 10px;
    top: 0;
    height: 100%;
    line-height: 1100px;
    z-index: 1000;
    width: 100px;
    text-align: center;
    display: none;
    cursor: pointer;
    opacity: 1
}

.up-button:hover {
    background: rgba(0, 0, 0, 0.01);
}

.up-button a {
    text-decoration: none;
    font-size: 15px;
    color: #b2b2b2;
    height: 100%;
    display: block;
}

#topcontrol {
    font-size: 15px !important;;
    color: #b2b2b2 !important;
}

#upButtonControl {
    font-size: 15px;
    color: #b2b2b2 !important;
}

.boxes-footer {
    background: linear-gradient(to top, #fafafa, #fcfcfc);
    height: 90px;
    border-top: 1px solid #f2f2f2;
    margin-top: 49px;
}

.boxes-footer h5 {
    line-height: 49px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.boxes-footer img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.wrapper-boxes .boxes-footer {
    margin-top: 0;
    border: 1px solid #ebebeb;
    margin-top: -1px;
}

.footer-main-with-menu {
    background: linear-gradient(to top, #fafafa, #fcfcfc);
    height: 90px;
    /*height: 50px;*/
    border-top: 1px solid #f2f2f2;
    /*margin-top: 49px;*/
}

.footer-main-with-menu h5 {
    margin-left: 30px;
    line-height: 49px;
    display: inline-block;
}

.footer-main-with-menu img {
    display: inline-block;
    margin-left: 20px;
}

.footer-main-response {
    height: 50px;
}

.top-menu a:hover {
    background: rgba(100, 100, 100, 0.1);
}

.top-menu li.active a {
    background: #5baae2;
    color: white;
}

.btn-group.open .dropdown-toggle {
    background-color: white;
}

.introducing-container {
    width: 100%;
    background: white;
    padding-top: 98px;
}

.introducing {
    background: url(/design/images/introbg.jpg) no-repeat;
    background-position: 134px -89px;
    width: 1152px;
    padding-bottom: 40px;
    margin: 0 auto;
    padding-left: 85px;
}

.introducing p {
    font-size: 20px;
    padding-bottom: 33px;
    line-height: 30px;
}

.introducing h2 {
    font-size: 45px;
    margin-bottom: 30px;
    color: #8a47cc;
    line-height: 55px;
}

.platform-container {
    background: #f2f2f2;
}

.platform {
    height: 635px;
    padding-top: 90px;
    margin: 0 auto;
    width: 940px;
}

.platform h2, .more h2 {
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    padding-bottom: 70px;
}

.platform img {
    float: left;
    margin-right: 40px;
}

.platform ul {
    font-size: 25px;
    line-height: 50px;
    margin-top: 40px;
    margin-left: 480px;
}

.percentage {
    margin: 0 auto;
    width: 940px;
    height: 325px;
    padding-top: 90px;
}

.percentage .media {
    display: inline-block;
    font-size: 25px;
    width: 460px;
}

.percentage .media-body {
    padding-left: 13px;
}

.howto-container {
    width: 100%;
    background: #8a47cc;
    padding: 60px 0 50px 0;
}

.how-to {
    margin: 0 auto;
    font-size: 25px;
    line-height: 35px;
    width: 940px;
}

.how-to .media {
    margin-bottom: 50px;
}

.how-to .media-body {
    color: white;
    margin-left: 32px;
}

.how-to .media > .pull-left {
    margin-right: 40px;
    margin-top: 10px;
}

.how-to h2 {
    font-size: 45px;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.gift-container {
    background: #e6e6e6;
    margin-top: 80px;
}

.gift {
    background: url(/design/images/giftbg.jpg) no-repeat;
    height: 355px;
    margin: 0 auto;
    width: 1280px;
}

.gift h1 {
    margin-top: 98px;
    margin-right: 180px;
    font-size: 30px;
    line-height: 45px;
}

.gift h3 {
    font-size: 25px;
}

.more article p {
    font-size: 20px;
}

.prices {
    margin: 0 auto;
}

.prices-container {
    text-align: center
}

.prices h2 {
    text-align: center;
    padding: 80px 0 50px 0;
    font-size: 45px;
}

.prices h3 {
    font-size: 25px;
    margin-bottom: 8px;
}

.prices .price-block {
    display: inline-block;
    text-align: center;
    width: 202px;
    font-size: 15px;
    margin-right: 30px;
    vertical-align: top;
}

.prices .pricetext {
    margin-top: 20px;
    padding-bottom: 20px;
}

.service-container {
    margin-top: 75px;
}

.service {
    width: 940px;
    margin: 0 auto;
}

.service .left {
    width: 620px;
    display: inline-block;
    vertical-align: top;
}

.service .right {
    width: 310px;
    display: inline-block;
    vertical-align: top;
}

.service .media-list {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: bolder;
}

.service h3 {
    font-size: 25px;
    margin-bottom: 40px;
}

.service .left .media-list {
    margin-right: 8px;
}

.service .media-list img {
    padding-top: 7px;
}

.service-container {
    margin-bottom: 80px;
}

.work-container {

    background: #f2f2f2;
}

.work {
    width: 940px;
    margin: 0 auto;
    padding: 90px 0;

}

.work .biger {
    width: 540px;
    display: block;
}

.work .btn {
    vertical-align: super;
    padding: 10px 33px;
    margin-left: 20px;
}

.work .biger, .work .btn {
    display: inline-block;
}

.answers {
    width: 940px;
    margin: 0 auto;
    padding-top: 80px;
}

.answers .left {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.answers .right {
    width: 620px;
    display: inline-block;
    font-size: 15px;
}

.answers h3 {
    font-size: 30px;
    margin-top: 0;
}

.answers input, .answers textarea {
    width: 100%;
    border: 0;
}

.answers input {
    border-bottom: 1px solid #f0f0f0;
    height: 33px;
}

.answers textarea {
    height: 127px;
    resize: none;
    outline: none;
}

.answers dt {
    width: 60px;
    margin-top: 5px;
}

.answers dd:first-of-type {
    border-top: 2px solid #8fcc51;
}

.answers dd {
    border-left: 2px solid #8fcc51;
    border-right: 2px solid #8fcc51;
    width: 536px;
}

.answers .dl-horizontal dd {
    margin-left: 80px;
}

.answers dd:last-child {
    border-bottom: 2px solid #8fcc51;
}

.enter .popover-content {
    max-width: 410px;
    width: 410px;
}

.popover {
    max-width: 410px;
    border: 1px solid #ebebeb;
    border-radius: 0;
    box-shadow: none;
    min-height: 180px;
}

.popover input {
    border: 2px solid #82c63e;
}

.popover dt, .popover dd {
    margin-bottom: 20px;
}

.popover dl {
    margin-top: 15px;
}

/*Кнопки*/
.btn-primary-m {
    background: #9e6bad;
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 6px 24px;
    outline: none;
}

.btn-primary-m:hover {
    background: #85479a;
    outline: none;
    border: none;
}

.btn-primary-m:focus {
    background: #6b387a;
    outline: none;
    border: none;
}

.btn-success-m {
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 6px 24px;
    outline: none;

    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success-m:hover {
    color: #fff;
    outline: none;
    border: none;
}

.btn-success-m:focus {
    color: #fff;
    outline: none;
    border: none;
}

.btn-info-m {
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 6px 24px;
    outline: none;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info-m:hover {
    color: #fff;
    outline: none;
    border: none;
}

.btn-info-m:focus {
    color: #fff;
    outline: none;
    border: none;
}

.btn-default-m {
    color: #999;
    background-color: #fff;
    border: none;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.btn-default-m:hover, .btn-default-m:active {
    border: none;
    padding: 0;
    margin: 0;
    background-color: white;
    -webkit-box-shadow: none);
    box-shadow: none;
}

.pink {
    color: #fff;
    background: #f361ab;
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 6px 24px;
    outline: none;
}

.pink:hover {
    color: #fff;
    background: #d85698;
    outline: none;
    border: none;
}

.pink:focus {
    color: #fff;
    background: #9a426f;
    outline: none;
    border: none;
}

.fiolet {
    color: #fff;
    background: #b17ee5;
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 6px 24px;
    outline: none;
}

.fiolet:hover {
    color: #fff;
    background: #85479a;
    outline: none;
    border: none;
}

.fiolet:focus {
    color: #fff;
    background: #6b387a;
    outline: none;
    border: none;
}

.colorline .nav-pills > li.active > a {
    background: #5cace5;
    border-radius: 0;
}

.head-image {
    width: 100%;
    height: 200px;
    background: url('/design/images/headr-wrap.jpg');
    padding: 0;
}

.head-title {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    position: relative;
    /*height:170px;*/
    min-height: 100px;
}

.head-title span {
    font-size: 15px;
    line-height: 22px;
    color: #bfbfbf;
    line-height: 20px;
}
.head-title .black {
    font-size: 15px;
    color: #333;
    white-space: inherit;
    border-bottom: none;
}
.head-title .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
   display: block;
   width: 100%;
   min-height: 28px;        // Make inputs at least the height of their button counterpart
.box-sizing(border-box); // Makes inputs behave like true block-level elements
}
/*.head-title .editable-container,*/
/*.head-title .textarea,*/

/*{*/
    /*width: 100% !important;*/
/*}*/
.head-title .editable-input textarea {
    width: 600px;
}

.brand-small-logo-image {
    width: 142px;
    height: 142px;
}

.head-title h3 {
    margin-bottom: 0;
}

.wrapper-head .bread {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 13px;
}

.head-brand-title {
    text-align: left;
    padding-left: 80px;
    padding-bottom: 30px;
}

.head-brand-title .media > .pull-left {
    margin-right: 20px;
}

.head-brand-title .media .pull-left {
    position: absolute;
    top: -20px;
}

.head-brand-title .media-heading {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 0;
    margin: 0;
}

.head-brand-title .media-body {
    font-size: 15px;
    font-weight: normal;
    margin-left: 170px;
    padding-right: 80px;
}

.head-brand-title hr {
    margin: 10px 0;
}

.newbox {
    border: 1px solid #d6eaf8;

}

.newbox h4 {
    line-height: 103px
}

.wrapper-boxes .media {
    width: 280px;
    font-size: 13px;
}

.wrapper-boxes .media-body {
    color: #bfbfbf;
    line-height: 20px;
}

.wrapper-boxes .media a {
    font-size: 15px;
    line-height: 22px;
    font-weight: bolder;
}

.wrapper-boxes .media > .pull-left {
    margin-top: 5px;
    margin-right: 20px;
}

.wrapper-boxes .newbox > .pull-left {
    margin-left: 20px;
    margin-top: 42px
}

.wrapper-boxes .media-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.wrapper-boxes .boxes-list > li {
    margin-right: 33px;
    margin-bottom: 20px
}

.wrapper-boxes .boxes-list > li:last-of-type {
    margin-right: 0;
}

.wrapper-boxes .last-list {
    margin-right: 0px;
}

/* шрифты */
.biger {
    font-size: 45px;
    font-weight: lighter;
}

.semibold {
    font-weight: bolder;
}

.normal {
    font-weight: normal;
}

.smaller {
    font-size: 20px;
    font-weight: bold;
}

.big {
    font-size: 35px;
    line-height: 35px;
}

.verybig {
    font-size: 60px;
    line-height: 30px;
}

.green-text {
    color: #8fcc52
}

.pink-text {
    color: #f361ab;
}

.blue-text {
    color: #5cace5;
}

.fiolet-text {
    color: #b17ee5;
}

.alert-text {
    font-size: 12px;
    color: #ff4d4c;
    text-align: left;
    padding-bottom: 3px;
    visibility: hidden;
}

.popover-content a {
    color: #8fcc52;
    font-size: 12px;
}

.popover-content a:hover {
    background: none;
}

.popover-content .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
}

.popover-content span {
    float: right;
    margin-right: 28px;
}

.box-inside-block img {
    border: 1px solid #ebebeb;
}

.box-inside-block {
    font-size: 15px;
}

.box-inside-block .pull-left {
    vertical-align: top;
}

.box-inside-block .data {
    color: #bfbfbf;
    margin-left: 20px;
    margin-top: 8px;
    display: inline-block;
}

.box-inside-block .hurts {
    float: left;
}

.box-inside-block .list-inline li {
    padding-right: 0;
}

.hurts {
    cursor: pointer
}

.box-inside-block .bighurt .fa {
    font-size: 20px;
}

.box-inside-block h3 .glyphicon {
    font-size: 12px;
}

.box-inside-block .right-block {
    margin-left: 325px;
}

.box-inside-block .right-block .formblock {
    width: 616px;
    height: 188px;
    border: 2px solid #82c63e;
    margin-bottom: 44px
}

.box-inside-block h4 {
    font-size: 20px;
    font-weight: bolder;
}

.box-inside-block .right-block .formblock ul {
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    padding: 8px 9px;
}

.box-inside-block .right-block .formblock textarea {
    border: none;
    width: 100%;
    height: 134px;
    resize: none;
    padding: 8px 9px;
    font-style: italic;
    font-size: 15px;
    color: #bfbfbf;
    outline: none;
}

.box-inside-block .btn-default-m {
    border: 1px solid #ebebeb;
    padding: 11px 24px;
    font-size: 15px;
    border-radius: 0;
    margin-left: 10px;
    outline: none;
}

.box-inside-block .pull-right .btn-success-m {
    margin-right: 28px;
    font-size: 15px;
    padding: 11px 24px;
}

.box-inside-block .comment {
    margin-bottom: 38px;
}

.box-inside-block .comment .data {
    font-size: 13px;
}

.box-inside-block .comment .list-inline {
    margin-top: 5px;
}

.head-brand-title .pull-left img {
    border: 1px solid #cedbc1;
}

.boxes-block {
    padding-top: 25px;
}

.boxes-block .media {
    position: relative;
}

.boxes-block .edit {
    font-size: 11px;
    position: absolute;
    top: 67px;
    left: 19px;
    display: none;
}

.boxes-block .edit span {
    padding: 0;
}

.boxes-block .media:hover .edit {
    display: block;
}

.boxes-block .media span {
    cursor: pointer;
}

.box-inside-block .pagination a {
    border: 0;
}

.box-inside-block .pagination .active a {
    background: none;
    color: black
}

.hurts {
    margin-top: 8px;
}

.box-inside-block .otzyv {
    margin-top: 50px;
}

.box-inside-block .description {
    margin-top: 130px;
}

.box-inside-block .recomendation {
    margin-top: 50px;
}

.box-inside-block .recomendation .media {
    margin-top: 23px;
}

.box-inside-block .recomendation .media:first-child {
    margin-top: 0;
}

.box-inside-block hr {
    margin: 5px 0 10px 0;
}

.box-inside-block .recomendation .list-inline {
    margin-top: 5px;
}

.box-inside-block .recomendation {
    width: 90%;
}

.box-inside-block .right-block .edit {
    visibility: hidden;
    position: relative;
    top: -2px;
}

.box-inside-block .right-block:hover .edit {
    visibility: visible;
}

.boxes-block .media-list li {
    margin-top: 0;
    vertical-align: top;
}

.boxes-block .newbox {
    height: 103px;
    line-height: 103px;
}

.boxes-list > li {
    margin-right: 30px
}

.boxes-list .product-image {
    width: 60px;
    height: 60px;
}

.list-inline > li {
    padding-right: 4px;
}

.box-inside-block .comment .comment-photo-list {
    margin-top: 13px;
}

.boxes-block .media-heading {
    margin: 0;
}

.fa-heart {
    color: #ffd500;
}

.fa-heart-o {
    color: rgba(0, 0, 0, 0.2);
}

.newbox .media-heading a {
    height: 100px;
    display: block;
    line-height: 100px;
}

.newbox:hover {
    background: rgba(230, 230, 230, 0.1)
}

.mob-menu > div > a {
    font-size: 20px;
    padding: 14px 18px 8px 18px;
    outline: none;
}

.mob-menu .glyphicon {
    top: -3px;
}

.mob-menu .dropdown-menu {
    left: -191px;
}

.mob-menu-enter .glyphicon {
    top: 0;
}

.inline-block article {
    margin-bottom: 40px;
}

.rainbow-line {
    width: 100%;
    height: 5px;
    background: url(/design/images/rainbow.jpg) repeat-x;
}

@media screen and (max-width: 535px) {
    .more-block {
        height: 560px;
    }
}

@media screen and (max-width: 396px) {
    .top-menu {
        margin-top: 23px;
    }
}

@media screen and (max-width: 336px) {
    .top-menu {
        margin-top: 23px;
        float: left;
    }

    .mob-menu .dropdown-menu {
        left: 0;
    }
}

.cabinet-head {
    padding: 49px 80px;
}

.cabinet-head > div {
    display: inline-block;
    vertical-align: top;
}

.cabinet-head > .media {
    margin-right: 100px;
}

.head-block {
    margin-right: 50px;
}

.cabinet-head > div:last-child {
    margin-right: 0;
}

.cabinet-head h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 15px
}

.cabinet-head .small {
    color: #bfbfbf;
    font-size: 13px;
}

.cabinet-head {
    font-size: 13px
}

.media-body, .head-block {
    line-height: 20px;
}

.cabinet-head img {
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.mycompany .nav-tabs h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
    padding: 3px 15px 0px;
}

.mycompany .nav-tabs a {
    font-size: 13px;
}

.mycompany .nav-tabs li:last-child {
    float: right;
}

.mycompany .tab-pane {
    min-height: 416px;
}

.mycompany .table th {
    color: #bfbfbf;
    font-size: 13px;
    border: none;
    font-weight: normal
}

.mycompany .table thead tr {
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fefefe));
    background-image: -webkit-linear-gradient(top, #fff 0, #fefefe 100%);
    background-image: -moz-linear-gradient(top, #fff 0, #fefefe 100%);
    background-image: -ms-linear-gradient(top, #fff 0, #fefefe 100%);
    background-image: -o-linear-gradient(top, #fff 0, #fefefe 100%);
    background-image: -linear-gradient(top, #fff 0, #fefefe 100%);
}

.mycompany .table td:nth-child (3) {
    text-align: right;
}

span.success {
    color: #8fcc52;
}

span.warning {
    color: #f2d024;
}

span.grey {
    color: #bfbfbf;
}

.mycompany .table > tbody > tr > td,
.mycompany .table > thead > tr > th {
    padding: 15px 5px;
}

.mycompany .table > tbody > tr > td:first-child,
.mycompany .table > thead > tr > th:first-child {
    padding-left: 10px;
}

.breadcrump {
    font-size: 13px;
}

.mycompany .table .hurts {
    font-size: 12px;
}

.mycompany .table .hurts .fa {
    padding: 0;
}

.mycompany .table tr:last-child td:first-child {
    font-size: 20px;
}

.popover-menu {
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-clip: padding-box;
}

.popover-menu > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #2988cc;
    white-space: nowrap;
    font-size: 15px;
    padding: 10px 23px;
}

.popover-menu a:hover {
    background: rgba(100, 100, 100, 0.1);
}

.popover-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.mycab .popover {
    margin-top: 0;
    z-index: 10001;
}

.mycab .popover-content {
    padding: 0;
}

.mycab .balans {
    float: none;
    display: block;
    clear: both;
    font-weight: bold;
    line-height: 1.428571429;
    white-space: nowrap;
    font-size: 15px;
    padding: 10px 23px;
}

.modal-backdrop.in {
    opacity: 0.1;
}

.table > thead > tr:first-child > th:last-child,
.table > tbody > tr > td:last-child {
    padding-left: 30px;
}




.answer-box {
    padding-top: 10px;
}
/* login popup */
.popup-login-container {
    width: 550px;
    padding: 20px;
}
.popup-login-container div.alert,
.popup-login-container label
{
    line-height: 1.428571429;
}
.popup-login-container a {
    font-size: inherit;
    padding: inherit;
    background-color: inherit;
}
.popup-login-container a:hover {
    background-color: inherit;
}

hr {
    border-top: 1px solid #C9C9C9;
}

.product-container img{
    max-height: 200px;
}
.dropzone {
    min-height: 240px;
}

/* panels zone */
.jarviswidget .skinny {
    height: 0px;
    border-width: 0px;
    border-top: 1px solid #ccc;
}

.new-campaign-wizard li {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    padding-left: 0;
}

.campaign-product-image-small {
    width: auto;
    height: 20px;
}

.campaign-product-image {
    width: 100px;
    height: auto;
}




/* some helpers shit, dunno need it or not */
/*body {*/
/*padding-top: 50px;*/
/*}*/
/*.main-template {*/
/*padding: 40px 15px;*/
/*}*/
/*table.table.products td {*/
/*vertical-align: middle !important;*/
/*margin-left: 5px;*/
/*}*/

/*.footer {*/
/*margin-top: 20px;*/
/*padding: 20px 0 20px;*/
/*border-top: 1px solid #e5e5e5;*/
/*}*/

/*.footer p {*/
/*margin-bottom: 0;*/
/*color: #ccc;*/
/*}*/

/*.btn-toolbar {*/
/*margin-top: 4px;*/
/*}*/

/*th.centered-text, td.centered-text {*/
/*text-align: center !important;*/
/*}*/

/*.table th, .table td {*/
/*vertical-align: middle;*/
/*}*/

/*.page-header .btn {*/
/*font-size: 13px;*/
/*line-height: 18px;*/
/*font-weight: normal;*/
/*}*/

/*div.add-product table.main-tbl td {*/
/*padding: 10px;*/
/*}*/

/*.responsive-utilities td.is-visible {*/
/*color: #468847;*/
/*background-color: #dff0d8 !important;*/
/*}*/
/*.responsive-utilities td.is-hidden {*/
/*color: #ccc;*/
/*background-color: #f9f9f9 !important;*/
/*}*/

/*.action-span {*/
/*border-bottom: 1px dashed #002a80;*/
/*cursor: default;*/
/*}*/


/*.width-5 {*/
/*width : 5%;*/
/*}*/

/*.width-10 {*/
/*width : 10%;*/
/*}*/

/*.width-15 {*/
/*width : 15%;*/
/*}*/

/*.width-20 {*/
/*width : 20%;*/
/*}*/

/*.width-25 {*/
/*width : 25%;*/
/*}*/

/*.width-30 {*/
/*width : 30%;*/
/*}*/

/*.width-35 {*/
/*width : 35%;*/
/*}*/

/*.width-40 {*/
/*width : 40%;*/
/*}*/

/*.width-45 {*/
/*width : 45%;*/
/*}*/

/*.width-50 {*/
/*width : 50%;*/
/*}*/

/*.width-55 {*/
/*width : 55%;*/
/*}*/

/*.width-60 {*/
/*width : 60%;*/
/*}*/

/*.width-65 {*/
/*width : 65%;*/
/*}*/

/*.width-70 {*/
/*width : 70%;*/
/*}*/

/*.width-80 {*/
/*width : 80%;*/
/*}*/

/*.width-85 {*/
/*width : 85%;*/
/*}*/

/*.width-90 {*/
/*width : 90%;*/
/*}*/

/*.width-95 {*/
/*width : 95%;*/
/*}*/

/*.width-100 {*/
/*width : 100%;*/
/*}*/

/*.extra-wrapper {*/
/*background-color: rgba(255, 255, 255, 0.54902);*/
/*vertical-align: middle;*/
/*}*/

/*.extra-wrapper img {*/
/*position: absolute;*/
/*left: 50%;*/
/*top: 48%;*/
/*}*/


/* Base class */
/*.bs-docs-example {*/
/*position: relative;*/
/*margin: 15px 0;*/
/*padding: 39px 19px 14px;*/
/**padding-top: 19px;*/
/*background-color: #fff;*/
/*border: 1px solid #ddd;*/
/*-webkit-border-radius: 4px;*/
/*-moz-border-radius: 4px;*/
/*border-radius: 4px;*/
/*}*/

/* Echo out a label for the example */
/*.bs-docs-example:after {*/
/*content: "ip-addresses";*/
/*position: absolute;*/
/*top: -1px;*/
/*left: -1px;*/
/*padding: 3px 7px;*/
/*font-size: 12px;*/
/*font-weight: bold;*/
/*background-color: #f5f5f5;*/
/*border: 1px solid #ddd;*/
/*color: #9da0a4;*/
/*-webkit-border-radius: 4px 0 4px 0;*/
/*-moz-border-radius: 4px 0 4px 0;*/
/*border-radius: 4px 0 4px 0;*/
/*}*/

/* Remove spacing between an example and it's code */
/*.bs-docs-example + .prettyprint {*/
/*margin-top: -20px;*/
/*padding-top: 15px;*/
/*}*/

/* Tweak examples*/
/*------------------------- */
/*.bs-docs-example > p:last-child {*/
/*margin-bottom: 0;*/
/*}*/
/*.bs-docs-example .table,*/
/*.bs-docs-example .progress,*/
/*.bs-docs-example .well,*/
/*.bs-docs-example .alert,*/
/*.bs-docs-example .hero-unit,*/
/*.bs-docs-example .pagination,*/
/*.bs-docs-example .navbar,*/
/*.bs-docs-example > .nav,*/
/*.bs-docs-example blockquote {*/
/*margin-bottom: 5px;*/
/*}*/
/*.bs-docs-example .pagination {*/
/*margin-top: 0;*/
/*}*/
/*.bs-navbar-top-example,*/
/*.bs-navbar-bottom-example {*/
/*z-index: 1;*/
/*padding: 0;*/
/*height: 90px;*/
/*overflow: hidden; *//* cut the drop shadows off */
/*}*/
/*.bs-navbar-top-example .navbar-fixed-top,*/
/*.bs-navbar-bottom-example .navbar-fixed-bottom {*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*}*/
/*.bs-navbar-top-example {*/
/*-webkit-border-radius: 0 0 4px 4px;*/
/*-moz-border-radius: 0 0 4px 4px;*/
/*border-radius: 0 0 4px 4px;*/
/*}*/
/*.bs-navbar-top-example:after {*/
/*top: auto;*/
/*bottom: -1px;*/
/*-webkit-border-radius: 0 4px 0 4px;*/
/*-moz-border-radius: 0 4px 0 4px;*/
/*border-radius: 0 4px 0 4px;*/
/*}*/
/*.bs-navbar-bottom-example {*/
/*-webkit-border-radius: 4px 4px 0 0;*/
/*-moz-border-radius: 4px 4px 0 0;*/
/*border-radius: 4px 4px 0 0;*/
/*}*/
/*.bs-navbar-bottom-example .navbar {*/
/*margin-bottom: 0;*/
/*}*/
/*form.bs-docs-example {*/
/*padding-bottom: 19px;*/
/*}*/

/* Images */
/*.bs-docs-example-images img {*/
/*margin: 10px;*/
/*display: inline-block;*/
/*}*/

/* Tooltips */
/*.bs-docs-tooltip-examples {*/
/*text-align: center;*/
/*margin: 0 0 10px;*/
/*list-style: none;*/
/*}*/
/*.bs-docs-tooltip-examples li {*/
/*display: inline;*/
/*padding: 0 10px;*/
/*}*/

/* Popovers */
/*.bs-docs-example-popover {*/
/*padding-bottom: 24px;*/
/*background-color: #f9f9f9;*/
/*}*/
/*.bs-docs-example-popover .popover {*/
/*position: relative;*/
/*display: block;*/
/*float: left;*/
/*width: 260px;*/
/*margin: 20px;*/
/*}*/

/* Dropdowns */
/*.bs-docs-example-submenus {*/
/*min-height: 180px;*/
/*}*/
/*.bs-docs-example-submenus > .pull-left + .pull-left {*/
/*margin-left: 20px;*/
/*}*/
/*.bs-docs-example-submenus .dropup > .dropdown-menu,*/
/*.bs-docs-example-submenus .dropdown > .dropdown-menu {*/
/*display: block;*/
/*position: static;*/
/*margin-bottom: 5px;*/
/**width: 180px;*/
/*}*/



/*tr.templates-container td {*/
/*border-top: 1px solid #DDD;*/
/*}*/

/*tr.templates-container td table {*/
/*border-top: 1px solid #FFFFFF;*/
/*}*/

/*.mpzero {*/
/*margin: 0;*/
/*padding: 0;*/
/*margin-bottom : 0;margin-top    : 0;margin-left   : 0;margin-right  : 0;*/
/*}*/

/*div#messageContainer {*/
/*margin-top: 20px;*/
/*}*/
/*tbody#entityTBody td {*/
/*height: 30px;*/
/*}*/
/*tbody#entityTBody td:nth-child(2n+1),*/
/*table#entityTable thead th:nth-child(2n+1) {*/
/*text-align: center;*/
/*}*/

/*.mcf2 td:nth-child(-n+2) {*/
/*text-align: center;*/
/*}*/

/*.well {*/
/*min-height: 20px;*/
/*padding: 19px;*/
/*margin-bottom: 20px;*/
/*background-color: #f5f5f5;*/
/*border: 1px solid #e3e3e3;*/
/*-webkit-border-radius: 4px;*/
/*-moz-border-radius: 4px;*/
/*border-radius: 4px;*/
/*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
/*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)*/
/*}*/

/*.well.well-transparent {*/
/*background-color: transparent*/
/*}*/

/*table.centered-table tbody td:nth-child(2n+1){*/
/*table.centered-table thead th,*/
/*table.centered-table tbody td{*/
/*text-align: center;*/
/*}*/