.answer-box {
    padding-top: 10px;
}
.popup-login-container {
    width: 550px;
    padding: 20px;
}
.popup-login-container div.alert,
.popup-login-container label
{
    line-height: 1.428571429;
}

hr {
    border-top: 1px solid #C9C9C9;
}

.product-container img{
    max-height: 200px;
}
.dropzone {
    min-height: 240px;
}


.tab-pane-padding {
    padding: 40px 0 20px 0;
}

.smart-form .state-error .select2-container>a {
    transition:border-color .3s;
    -webkit-transition:border-color .3s;
    background: #fff0f0;
    border: 1px solid #A90329;
}

.mycompany td.no-content {
    border-width: 0px;
    text-align:center;
    line-height:400px;
}

.fine-uploader-container {
    position: fixed !important;
    background: url('../images/plugins/jquery.hover/image_hover.png') repeat;
    width: 100%;
    height: 51px;
    left: 0;
    top: 0;

    z-index: 9;
}
.supplier-small-logo {
    width: 100px;
    height: 100px;
}
