 body, div, ul, li, p, header, h1, h2, h5, input {
 margin:0;
 padding:0;
 font-family: 'Open Sans', sans-serif;
 color:#333333;
 }
 img {border:none;}
 
 body{background-color:#f2f2f2;
 background:url(images/bg.gif);}
 
 h1 {font-family:'Open Sans', sans-serif;
 font-weight:normal; 
 font-size:30px;}
 h2 {font-family:'Open Sans', sans-serif;
 font-weight:300;
 font-size:30px;}
 h5 {font-size:12px;
 font-weight:normal;
 color:#999999;}
 
 header {height:50px;
 width:100%;
 box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
 background:white;
}
 
 .logotype {margin-left:11px;
 float:left;
 width:240px;
 margin-top:13px;
 }
 img.logo {float:left;}
 .logotype p {font-size:10px;
 color:#999999;
 margin-left:6px;
 float:left;
 font-style:italic;}
 
 .top-menu {float:right;
  margin-top:8px;}
 .top-menu ul {list-style:none;
 margin-top:4px;}
 .top-menu ul li {float:left;}
 .top-menu a {text-decoration:none;
 padding:7px 18px 16px 18px;
 font-size:15px;
 color:#999999;}
  
  .wrapper{clear:both;
  position:relative;
  max-width:960px;
  margin:0 auto;
  margin-top:50px;
  padding-top:10px;
  margin-bottom:49px;
  background:white;
  border:1px solid #e5e5e5;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.1);}
  
  .top-block {background:url(images/img1.jpg) no-repeat;
  padding-top: 400px;}
  .top-block h2 {text-align:center;
  width:70%;
  margin:0 auto;}
  
  .slider {margin-top:60px;
  position:relative;}
  
  .form {width:336px;
  margin:0 auto;
  text-align:center;
  margin-top:24px;}
  
  .form input[type=text] {border:2px solid #5eb3db;
  width:186px;
  height:40px;
  padding-left:14px;
  font-size:18px;
  font-family:'Open Sans', sans-serif;
  margin-right: -4px;float:left;}
  
	::-webkit-input-placeholder { color:#cccccc;font-family:'Open Sans', sans-serif; font-weight:normal;}
	:-moz-placeholder {color:#cccccc;font-family:'Open Sans', sans-serif; font-weight:normal;}
  
  .form input[type=button] {border-radius:1px;
  border:2px solid #5eb3db;
  background:#5eb3db;
  color:white;
  height:44px;
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  font-size:18px;
  width:128px;
  cursor:pointer;
  display:block;
  }
  
  .inline-block {text-align:center;
  margin-top:60px;}
  .inline-block article {display:inline-block;
  vertical-align:top;
  margin:0 40px;}
  .inline-block article p {font-size:15px;
  margin-top:18px}
  
  .more-block {text-align:center;
  margin-top:40px;
  padding-top:52px;
  background:linear-gradient(to top, #fafafa, #f0f0f0);
  height:365px;}
  .more-block h2{width:640px;
  margin:0 auto;
  margin-top:40px;
  line-height:40px;}
  
  .partners-block {text-align:center;}
  .partners-block h1 {width:585px;
  margin:44px auto;}
  .partners-block h2 {width:760px;
    margin:0 auto;}
  
  .colorline {background:url(images/butbg.png) no-repeat center}
  a.button {display:block;
  height:54px;
  line-height:54px;
  text-decoration:none;
  color:white;
  margin:0 auto;
  font-size:22px;
  font-weight:600;
  }

  a.blue {background:#5eb3db;
  width:210px;
  margin-top:44px;}
  a.green {background:#99cc66;
  width:330px;
  margin-top:40px}
  
  .bot-button {text-align:center;
  }
  
  .up-button {position:fixed;
right: 1500px;
top: 0;
height: 100%;
line-height: 1100px;
  z-index:1000;
  width:100px;
  text-align:center;
  display:none;} 
  .up-button:hover  {background:rgba(0,0,0,0.01)}
  .up-button a{text-decoration:none;
  font-size:15px;
  color:#b2b2b2;
  height:100%;
  display:block;}
  
  footer {background:linear-gradient(to top, #fafafa, #fcfcfc);
  height:49px;
  border-top:1px solid #f2f2f2;
  margin-top:49px;}
  footer h5 {text-align:center;
  line-height:49px;}
	
	