<set yesterday="{{ date('m/d/Y', time() - 86400) }}" today="{{ date('m/d/Y', time()) }}" /><!-- RIBBON -->
<div id="ribbon">
		<span class="ribbon-button-alignment">
			<span id="refresh" rel="tooltip" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span>
		</span>

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li><a href="/">Main</a></li>
    <li>Index</li>
  </ol>
  <!-- end breadcrumb -->
</div><!-- END RIBBON -->

<!-- MAIN CONTENT -->
<div id="content">
  <section id="widget-grid" class="">
    <include href="struct/flash-messages-block.htm" />
    <!-- row -->
    <div class="row">
      <article class="col-lg-12">
        <!-- new widget -->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-apps-list" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-sortable="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-cube txt-color-white"></i> </span>
            <h2> Index </h2>

            <div class="widget-toolbar pull-left" role="menu">
              <!--<a href="javascript:void(0);" class="btn btn-danger disabled" id="deleteNodeRecursive">Удалить</a>-->
            </div>
          </header>
          <!-- widget div-->
          <div class="">
            <div class="widget-body no-padding">

              <!-- content -->
              <div role="row">
                <article class="col-lg-12">
                  Main-index content here
                </article>

              </div>
              <!-- end content -->
            </div>
            <!-- end widget-body -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
    </div>
    <!-- end row -->
  </section>
</div><!-- END MAIN CONTENT -->


 <!--Dynamic edit product form -->
<!--<div class="modal" id="errorResponseModalContainer" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">-->
<div class="modal" id="errorResponseModalContainer" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
<!--/.modal -->
