/* @todo (kigamuka): make less */
footer.ckeditor button {
    margin: 5px;
}

span.state-error {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}

span.state-error em.invalid {
    font-style: normal !important;
}

.dd3-content.cursor {
    cursor: pointer;
}

.organization-status, .callback-status, .banner-status {
    padding: 5px;
}

.organization-status-1, .callback-status-1 {
    background: palevioletred;
    color: white;
}

.banner-status-0 {
    background: red;
    color: white;
}

.cp-banner-position {
    padding: 5px;
}

.organization-status-2, .callback-status-2, .banner-status-1 {
    background: #008000;
    color: white;
}

.organization-status-3 {
    background: firebrick;
    color: white;
}

fieldset#step-2, footer#step-3 {
    display: none;
}

#alertMessage {
    display: none;
}

.padding-right-15 {
    padding-right: 15px;
}

img.cp-banner {
    width: 1255px;
    height: 345px;
    margin-top: 15px;
}

.editable.editable-click {
    padding: 10px 10px 0px 10px;
}

/* link: /cp/products/ */
.dt-toolbar > :nth-child(2) .dataTables_filter_wide > :only-child {
    float: left !important;
}

.dataTables_filter_wide label {
    position: relative;
    display: table;
}

.dataTables_filter_wide label input {
    width: 100% !important;
}

.dataTables_wrapper .dataTables_processing {
    font-size: 1.2em;
    float: left;
    background: none;
}

.dataTables_wrapper .dataTables_paginate {
    color: #333333;
}

#productsTBody tr {
    cursor: pointer;
}

#productsTBody > tr.row-selected > td,
#productsTBody > tr.row-selected > th {
    background-color: #568a89 !important;
}

/* End link: /cp/products/ */

/**/
.wysiwyg-fieldset > div > label:first-child,
.wysiwyg-container > label
{
    padding: 25px 14px 5px;
}
/**/


/* link: /cp/products/show-modal-edit/ */
.no-padding-top {
    padding-top: 0px !important;
}
.no-padding-left {
    padding-left: 0px !important;
}

div.only-right-padding {
    padding: 0px 14px 0px 0px;
}

form#productEditForm label {
    font-size: 14px !important;
}

.product-edit-tabs-box {
    position: absolute;
    right: 1040px;
    top: 75px;
    width: 220px;
}
.product-edit-tabs-box .nav-tabs > li.active > a {
    margin-top: 0px !important;
}
#productEditModalContainer .modal-backdrop.in.ajax-animation {
    bottom: 73px;
}
.product-edit-tabs-box ul {
    width: 200px;
}
.product-edit-tabs-box .tabs-left > .nav-tabs > li > a:hover,
.product-edit-tabs-box .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee transparent #eeeeee #eeeeee;
}
.product-edit-tabs-box .tabs-left .nav-tabs > li.active > a {
    -webkit-box-shadow: -3px 0 0 #058dc7;
    -moz-box-shadow: -3px 0 0 #058dc7;
    box-shadow: -3px 0 0 #058dc7;
    border-top-width: 1px !important;
    border-left: none !important;
    margin-left: 3px !important;
}
/* End link: /cp/products/show-modal-edit */

.fs-15 {
    font-size: 15px !important;
}
.fs-14 {
    font-size: 14px !important;
}