<form class="lockscreen animated flipInY" method="post" action="/auth" id="lockscreenForm">
  <div class="logo">
    <h1 class="semi-bold"><i class="fa fa-cubes fa-2x"></i> Cubes?</h1>
  </div>
  <div>
    <img src="http://www.gravatar.com/avatar/ssdd@ssdd.com?s=120&d=identicon&r=PG" alt="avatar" class="online" />
    <div>
      <h1><i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>John.Doe <small><i class="fa fa-lock text-muted"></i> &nbsp;Locked</small></h1>
      <p class="text-muted">
        <a href="mailto:vasya@vasya.com">John@Doe.com</a>
      </p>

      <div class="input-group" id="passwordContainer">
        <input type="hidden" name="email" value="access@access.com" />
        <input class="form-control" type="password" placeholder="Password" id="passwordField" name="password">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-key"></i>
          </button>
        </div>
      </div>
      <div class="has-error">
        <span class="help-block hidden" id="validationMessage">Incorrect password</span>
      </div>
      <p class="no-margin margin-top-5">
        Logged as someone else? <a href="/auth"> Click here</a>
      </p>
    </div>

  </div>
</form>