<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-lg-offset-3">

  <div class="well no-padding">
    <form id="userLoginPostForm" class="smart-form client-form" action="/auth/login" method="POST">
      <header>
        Authorization
      </header>

      <fieldset>

        <section>
          <label class="label">E-mail</label>
          <label class="input  {{ isset(@formData.validatorMessages.email)?'state-error':'' }}"><i class="icon-append fa fa-user"></i>
            <input name="email" type="email" value="{{empty(@formData.email)?'':@formData.email}}" id="loginEmail">

            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ваш email адрес или логин</b>
          </label>

          <check if="{{ isset(@formData.validatorMessages.email) }}">
            <em for="loginEmail" class="invalid">
              <repeat group="{{ @formData.validatorMessages.email }}" key="{{ @reason }}" value="{{ @message }}">
                {{ @message }}<br />
              </repeat>
            </em>
          </check>
        </section>

        <section>
          <label class="label">Пароль</label>
          <label class="input  {{ isset(@formData.validatorMessages.password)?'state-error':'' }}"><i class="icon-append fa fa-lock"></i>
            <input class="form-control" name="password" type="password" value="{{empty(@formData.password)?'':@formData.password}}" id="loginPassword">

            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ваш пароль</b>
          </label>

          <check if="{{ isset(@formData.validatorMessages.password) }}">
            <em for="loginPassword" class="invalid">
              <repeat group="{{ @formData.validatorMessages.password }}" key="{{ @reason }}" value="{{ @message }}">
                {{ @message }}<br />
              </repeat>
            </em>
          </check>

          <div class="note">
            <a class="pull-right" href="/auth/remember-password">Забыли пароль?</a>
          </div>
        </section>

        <!--<section>-->
        <!--<label class="checkbox">-->
        <!--<input type="checkbox" name="remember" checked=""> <i></i>Запомнить меня-->
        <!--</label>-->
        <!--</section>-->
      </fieldset>

      <footer>
        <button type="submit" class="btn btn-primary">
          Войти
        </button>
      </footer>
    </form>

  </div>

  <!--<h5 class="text-center"> - или зарегистрируйтесь через -</h5>-->

  <!--<ul class="list-inline text-center">--><!--<li>--><!--<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>--><!--</li>--><!--<li>--><!--<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>--><!--</li>--><!--<li>--><!--<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>--><!--</li>--><!--<li>--><!--<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-google-plus"></i></a>--><!--</li>--><!--</ul>-->

</div>