<!DOCTYPE html>
<html lang="ru-ru">
<head>
  <meta charset="{{ @ENCODING }}">

  <title>[{{ APPLICATION_ENV }} pb] {{ @headTitleHelper->renderTitle() }}</title>
  {{ @headMeta }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <base href="{{ @SCHEME.'://'.@SERVER['HTTP_HOST'].@BASE }}/" />

  <link rel="icon" type="image/png" href="design/favicon/{{ APPLICATION_ENV }}.png?t={{ time() }}" />

  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/font-awesome.css">

  <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/smartadmin-production.css">
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/smartadmin-skins.css">

  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/demo.css">

  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/lockscreen.css">


  <!-- GOOGLE FONT -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
  <div id="main" role="main">
    <include href="{{ @content }}" />
  </div>

  <!--<script src="js/plugin/pace/pace.min.js"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');} </script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>
  <script src="js/libs/bootstrap/dist/js/bootstrap.js"></script>
  <script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>
  <script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

  <!--[if IE 8]>

  <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

  <![endif]-->

  <script type="text/javascript">
    var mainPageUrl = "{{ @SCHEME.'://'.@HOST.@BASE }}";
  </script>
  <script src="js/common/app.js"></script>
  <script src="js/common/lockscreen.js"></script>
</body>
</html>