<!DOCTYPE html>
<html lang="{{ @LANGUAGE }}">
<head>
  <meta charset="{{ @ENCODING }}">

  <title>[{{ APPLICATION_ENV }} pb] {{ @headTitleHelper->renderTitle() }}</title>
  {{ @headMeta }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <base href="{{ @SCHEME.'://'.@SERVER['HTTP_HOST'].@BASE }}/" />
  <link rel="icon" type="image/png" href="design/favicon/{{ APPLICATION_ENV }}.png?t={{ time() }}" />

  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/bootstrap.css">
  <!--<link rel="stylesheet" type="text/css" media="screen" href="/design/css/new_sa/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/font-awesome.css">

  <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/smartadmin-production.css">
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/smartadmin-skins.css">

  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/customize.css">

  <link rel="stylesheet" type="text/css" media="screen" href="design/css/new_sa/demo.css">
  <link rel="stylesheet" type="text/css" media="screen" href="design/css/cp/main.css">

  <!-- GOOGLE FONT -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body class="menu-on-top">
  <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

  <include href="struct/header.htm" />
  <include href="struct/aside-left-panel.htm" />
  <div id="main" role="main">
    <include href="{{ @content }}" />
  </div>
  <include href="struct/footer.htm" />
  <include href="struct/scripts.htm" />

  <include if="{{ !empty(@js_content) }}" href="{{ @js_content }}" />
</body>
</html>